%p#notice= notice

%p
  = link_to image_tag(@entry.imagelink.sub(%r!{{scale}}!) { "large" }), @entry.permalink, rel: 'nofollow'
%p
  %b tags
  = raw @entry.tag_list.map { |t| link_to t, tag_path(t) }.join(', ')

- if editable?
  = link_to 'Edit', edit_entry_path(@entry)
  \|
= link_to 'Back', :back
